version: '3'

services:
  nginx:
    container_name: nginx
    build: ./nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    entrypoint: ["/bin/sh", "-c", "trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;"]

  ligify:
    container_name: ligify
    build:
      ./streamlit
    restart: always
    entrypoint: ["streamlit", "run", "entry.py"]
    ports:
      - 8501:8501
    depends_on:
      - nginx
