version: '3'

services:
  nginx:
    container_name: nginx
    build: ./nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./data/certbot/www:/var/www/certbot

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
# Use the below command to create an initial certificate
#     entrypoint: ["/bin/sh", "-c"]
#     command: ["certbot certonly --webroot --webroot-path=/var/www/certbot --email ENTER_EMAIL_HERE --agree-tos --no-eff-em
# ail -d ligify.groov.bio --non-interactive"]
    entrypoint: ["/bin/sh", "-c", "trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;"]

  ligify:
    container_name: ligify
    build:
      ./streamlit
    restart: always
    entrypoint: ["streamlit", "run", "entry.py"]
    ports:
      - 8501:8501
    depends_on:
      - nginx
